
* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-kerning: auto;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

#app {
    position: relative;
}

#canvas {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: 1px solid black;
}